@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/class.jpg') center / cover no-repeat;
}

.questions-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    padding: 40px;
    backdrop-filter: blur(10px);
    border: 1px solid white;
    border-radius: 5px;
    border-color: white;
}

.question {
    border-bottom: 1px solid white;
}

.question h2 {
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
}

.question p {
    margin: 10px 0;
    text-align: center;
}

.non-display {
    display: none;
}